venv
.venv

__pycache__
.cache

*secret.py
spotify_token.json

# Data Files
catalog.csv
barcode_tracks.json

# Directory containing coverart
coverart        

# Exported files
byyear.yaml
byartist.yaml

README.html
