venv
.venv

__pycache__
.cache

*secret.py
spotify_token.json

# Data Files
catalog.csv
barcode_tracks.json
manual_barcode.csv
no_coverart.csv
barcode_queue.db
starred.csv

# Shared data directory with runtime files
shared_data/

# Directory containing coverart
coverart        

# Exported files
byyear.yaml
byartist.yaml

README.html
